<div>Websocket listo</div>

{{!-- <ul id="productList">
  {{#each products}}
    <li>{{this.title}}</li>
  {{/each}}
</ul>

<script>
  const socket = io();

 io.on('productUpdate', (newProduct) => {
    const productList = document.getElementById('productList');
    const newProductItem = document.createElement('li');
    newProductItem.textContent = newProduct.title;
    productList.appendChild(newProductItem);
  });
</script> --}}

<script src="/socket.io/socket.io.js">  </script>
<script src="/js/index.js"></script>