<!-- Este form es para poner la nueva pass -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change Password</title>
</head>
<body>
    <h1>Change your password</h1>
    <form action="/password-changed" method="POST">
        <input type="hidden" name="token" value="{{ token }}">
        <label for="newPassword">New password</label>
        <input type="password" id="newPassword" name="newPassword" placeholder="Enter your new password" required>
        <button type="submit">Change password</button>
    </form>
</body>
</html>
