<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
 <h1>Register form :)</h1>   
<form action="api/session/register" method="POST">
<label for="first_name">Nombre</label>
<input type="text" name="first_name" placeholder="Your name">
<label for="last_name">Apellido</label>
<input type="text" name="last_name" placeholder="Your lastname">
<label for="email">Email</label>
<input type="text" name="email" placeholder="Your email address">
<label for="password">Password</label>
<input type="text" name="password" placeholder="Your password">
<button>Send</button>
</form>

</body>
</html>